@import "../layout/intex";
.category{
  background-color: $white;
  display: flex;
  align-items: flex-start;
  .van-sidebar{
    width: 12rem;
    text-align: center;
  }
  .van-grid{
    width: 100%;
  }
}
