@import "../layout/intex";

.banner {
  margin: 0px 12px 0px 12px;
}

.banner-img {
  width: 100%;
  height: 20rem;
}

.van-grid {
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: $white;
}

.van-grid-item  {
  .van-grid-item__content {
    padding: 0;
  }
  .procut_title, .price {
    margin: $margin
  }
}
