@import "../layout/intex";
.cart {
  margin-bottom: 5rem;
  background-color: $gray;
  .van-submit-bar {
    margin-bottom: 5rem
  }
  .van-card {
    background-color: $white;
    .van-card__header{
      margin-left: 3rem;
    }
    .van-card__tag {
      top:4rem;
      left:-3rem;
    }
  }
  .cart_list {
    .checkbox {
      height: 1rem;
      .van-field {
        top: -10rem;
        width: 4rem;
      }
    }
    .stepper {
      height: 1rem;
      .van-field {
        top: -8rem;
        float: right;
        width: 13rem;
      }
    }
  }
}




